.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 500px;
  background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(255, 157, 164, 0.4) 0%,
      rgba(255, 157, 164, 0) 100%
    );
  backdrop-filter: blur(42px);
  border-radius: 20px;
  border: 1px solid #fff;

  .image-upload-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all .5s linear;
    z-index: 100 ;

    .image-holder {
      width: 100%;
      height: 350px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        object-fit: contain;
      }
    }

    .upload-image {
      width: 100%;
      height: 350px;
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }



  textarea::placeholder,
  input::placeholder {
    color: #ffffff;
  }
}

