.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: 20rem;
  background: radial-gradient(
      100% 100% at 0% 0%,
      rgba(255, 157, 164, 0.4) 0%,
      rgba(255, 157, 164, 0) 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  backdrop-filter: blur(42px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;

  img {
    height: 16rem;
    width: 100%;
    border-radius: 3px;
  }

  textarea,
  input {
    background: rgba(217, 217, 217, 0.2);
    border: 1px solid #ffffff;
    height: 2rem;
    border-radius: 3px;
  }

  textarea::placeholder,
  input::placeholder {
    padding: 0.4rem;
    color: #ffffff;
  }
}
