@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");

body {
  background: linear-gradient(
    135deg,
    rgba(253, 101, 133, 0.7) 0%,
    rgba(13, 37, 185, 0.7) 100%
  );
}
.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
